body {
  color: black;
  background-color: white;
}

#dtd-diagram, .dtd-diagram {
  display: block;
  overflow: auto;
  border: 1px solid #333;
  resize: both;
}
svg {
  /* for debugging:
  background: #EEE;  */
  font: 12px sans-serif;
}

.node {
  stroke-width: 1.5px;
}
.box, .choice, .seq {
  fill: white;
}

/* element nodes */
.element .box {
  stroke: steelblue;
}

rect.button {
  cursor: pointer;
  fill: none;
  pointer-events: all;
  mouse-events: all;
}
text.button {
  font-size: 80%;
}
.element text {
  fill: steelblue;
}

/* attribute nodes */
.attribute .box {
  stroke: #B3446C;  /* rasberry rose */
}
.attribute text {
  fill: #B3446C;
}

/* other nodes */
.other .box {
  stroke: #228042;  /* forest green */
}
.other text {
  fill: #228042; 
} 

/* choice & seq nodes */
.choice, .seq {
  stroke: grey;
}
.choice text, .seq text {
  fill: grey;
}




text.q {
  font: 12pt "courier";
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5pt;
}

