body {
  color: black;
  background-color: white;
}

#dtd-diagram, .dtd-diagram {
  display: block;
  overflow: auto;
  border: 1px solid #333;
  resize: both;
}
svg {
  /* for debugging:
  background: #EEE;  */
  font: 12px sans-serif;
}

.node-box, .choice, .seq {
  stroke: steelblue;
  stroke-width: 1.5px;
  fill: white;
}
.has_children {
}

.button {
  cursor: pointer;
  fill: none;
  pointer-events: all;
  mouse-events: all;
}
.button-text {
  font-size: 80%;
  fill: steelblue;
}


text.q {
  font: 12pt "courier";
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5pt;
}

